
<div class="mat-h3 mat-tittle">Reset Password</div>

<form (ngSubmit)="doAction(rpf)" #rpf="ngForm" >
<p class="mat-body">Enter details and you will be emailed a link to allow you to choose a new password</p>
<div *ngIf="action!='Success' && action!='Error' && action!='Reset-Password-Success' && action!='Reset-Password-Error'">

    <div *ngIf="loggedIn" >
        <mat-form-field>
            <input [readonly]="true" matInput name="submissionAccountId" [(ngModel)]="submissionAccountId" placeholder="Submission Account Id"  required>
        </mat-form-field>
    </div>
    <div *ngIf="!loggedIn" >
        <mat-form-field>
            <input matInput name="submissionAccountId" [(ngModel)]="submissionAccountId" placeholder="Submission Account Id"  required>
        </mat-form-field>
    </div>
    
    <mat-form-field>
        <input matInput  name="emailAddress" [(ngModel)]="emailAddress" #emailVal="ngModel" placeholder="Email Address" required email/>
        <mat-error *ngIf="rpf.controls['emailAddress']?.errors?.required || rpf.controls['emailAddress']?.invalid">
            Please enter a valid email address
        </mat-error>

     </mat-form-field>
    
</div>

<div class="mat-body" *ngIf="action==='Success'">
    Instruction for changing the password is emailed to  : {{respObj.data.emailAddress}}. Please check your email.
</div>
<div class="mat-body" *ngIf="action==='Reset-Password-Success'">
    Password is updated successfully.
</div>
<div class="mat-body" *ngIf="action==='Reset-Password-Error'">
    {{respObj.data.error}}
</div>
<div class="mat-body" *ngIf="action==='Error'">
    {{respObj.data.error}}
</div>
<br>
<div style="text-align:center" *ngIf="action==='Error' || action==='Reset-Password-Error'">
   <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()">Ok</button>
</div>
<div style="text-align:center" *ngIf="action==='Success'">
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()" routerLink="logout">Ok</button>
</div>
<div style="text-align:center" *ngIf="action==='Reset-Password-Success'">
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()" routerLink="logout">Ok</button>
</div>
<div style="text-align:center" *ngIf="action!='Error' && action!='Success' && action!='Reset-Password-Success' && action!='Reset-Password-Error'">
    <button mat-raised-button color=primary [disabled]="rpf.invalid">Reset Password</button>
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()">Cancel</button>
</div>


</form>