image: docker:stable
services:
  - docker:stable-dind

variables:
  DOCKER_DRIVER: overlay
  DOCKER_TLS_CERTDIR: ""

stages:
  - package
  - deploy

docker-build-dev:
  stage: package
  only:
    - /^dev-.*$/
  except:
    - branches
    - triggers
  script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG --build-arg configuration=dev --build-arg basePath=/ena/dev/submit/webin/ .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  tags:
    - ena-dcap-gitlab-runner

docker-build-test:
  stage: package
  only:
    - /^test-.*$/
  except:
    - triggers
  script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG --build-arg configuration=test --build-arg basePath=/ena/submit/webin/ .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  tags:
    - ena-dcap-gitlab-runner

docker-build-prod:
  stage: package
  only:
    - /^(\d+\.)?(\d+\.)?(\*|\d+)$/
  except:
    - branches
    - triggers
  script:
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG --build-arg configuration=production --build-arg basePath=/ena/submit/webin/ .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  tags:
    - ena-dcap-gitlab-runner

k8s-deploy-dev:
  image: dtzar/helm-kubectl:3.11.0
  stage: deploy
  only:
    - /^dev-.*$/
  except:
    - branches
    - triggers
  script:
    - sed -i s#%DOCKER_IMAGE%#$CI_REGISTRY_IMAGE\:$CI_COMMIT_TAG#g Kubernetes-dev-deploy.yaml
    - kubectl config set-cluster ena-cluster --server="${K8_HL_SERVER}"
    - kubectl config set clusters.ena-cluster.certificate-authority-data ${K8_HL_CERTIFICATE_AUTHORITY_DATA}
    - kubectl config set-credentials ena-user --token="${K8_HL_CREDENTIALS}"
    - kubectl config set-context ena-context --cluster=ena-cluster --user=ena-user
    - kubectl config use-context ena-context
    - kubectl apply -f Kubernetes-dev-deploy.yaml --namespace=ena-dev
  tags:
    - ena-dcap-gitlab-runner
  when: manual

k8s-deploy-test:
  image: dtzar/helm-kubectl:3.11.0
  stage: deploy
  only:
    - /^test-.*$/
  except:
    - triggers
  script:
    - sed -i s#%DOCKER_IMAGE%#$CI_REGISTRY_IMAGE\:$CI_COMMIT_TAG#g Kubernetes-test-deploy.yaml
    - kubectl config set-cluster ena-cluster --server="${K8_HL_SERVER}"
    - kubectl config set clusters.ena-cluster.certificate-authority-data ${K8_HL_CERTIFICATE_AUTHORITY_DATA}
    - kubectl config set-credentials ena-user --token="${K8_HL_CREDENTIALS}"
    - kubectl config set-context ena-context --cluster=ena-cluster --user=ena-user
    - kubectl config use-context ena-context
    - kubectl apply -f Kubernetes-test-deploy.yaml --namespace=ena-test
  tags:
    - ena-dcap-gitlab-runner
  when: manual

k8s-deploy-prod:
  image: dtzar/helm-kubectl:3.11.0
  stage: deploy
  only:
    - /^(\d+\.)?(\d+\.)?(\*|\d+)$/
  except:
    - branches
    - triggers
  script:
    - sed -i s#%DOCKER_IMAGE%#$CI_REGISTRY_IMAGE\:$CI_COMMIT_TAG#g Kubernetes-prod-deploy.yaml
    - kubectl config set-cluster ena-cluster --server="${K8_HL_SERVER}"
    - kubectl config set clusters.ena-cluster.certificate-authority-data ${K8_HL_CERTIFICATE_AUTHORITY_DATA}
    - kubectl config set-credentials ena-user --token="${K8_HL_CREDENTIALS}"
    - kubectl config set-context ena-context --cluster=ena-cluster --user=ena-user
    - kubectl config use-context ena-context
    - kubectl apply -f Kubernetes-prod-deploy.yaml --namespace=ena-prod
  tags:
    - ena-dcap-gitlab-runner
  when: manual
