
<mat-grid-list cols="4" rowHeight="50px">

  <mat-grid-tile>
    <mat-chip-list>
      <mat-chip>{{submissionType}}</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-chip-list>
      <mat-chip *ngIf="submissionFormat !== undefined">{{submissionFormat}}</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-chip-list>
      <mat-chip *ngIf="submissionSpreadsheet !== undefined">{{submissionSpreadsheet}}</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

</mat-grid-list>

<mat-horizontal-stepper>

  <mat-step>
      <ng-template matStepLabel>Select submission type</ng-template>

      <app-submission-type-selector (onSubmissionTypeChange)="consumeSubmissionTypeChange($event)">
      </app-submission-type-selector>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Select submission format</ng-template>

        <app-submission-format-selector
          [submissionType]='submissionType'
          (onSubmissionFormatChange)="consumeSubmissionFormatChange($event)">
        </app-submission-format-selector>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Download spreadsheet</ng-template>

        <app-submission-spreadsheet-selector
          [submissionType]='submissionType'
          [submissionFormat]='submissionFormat'
          (onSubmissionSpreadsheetChange)="consumeSubmissionSpreadsheetChange($event)">
        </app-submission-spreadsheet-selector>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Submit spreadsheet</ng-template>
        Submit spreadsheet
        <input type="file" class="app-choose-file" #file (change)="onChangeSpreadsheetFile(file.files)"/>
        <mat-radio-group class ="app-radio-group" [(ngModel)]="action">
          <div matTooltip="Submit new objects defined in a spreadsheet to Webin" matTooltipPosition="right">
            <mat-radio-button class ="app-radio-button" value="Submit">Submit</mat-radio-button>
          </div>
          <div matTooltip="Validate new object defined in a spreadsheet before submitting them to Webin" matTooltipPosition="right">
            <mat-radio-button class ="app-radio-button" value="Validate">Validate</mat-radio-button>
          </div>
          <!-- <mat-radio-button class ="app-radio-button" value="Update">Update</mat-radio-button> -->
          <!-- <mat-radio-button class ="app-radio-button" value="Validate update">Validate update</mat-radio-button> -->
        </mat-radio-group>
        <p>
          <button mat-raised-button color="accent" [disabled]="!canSubmit()" (click)="submit()">{{action}}</button>
        </p>


        <app-submission-result #submissionResult></app-submission-result>



      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
  </mat-step>

</mat-horizontal-stepper>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
