
<mat-grid-list cols="4" rowHeight="50px">

  <mat-grid-tile>
    <mat-chip-list>
      <mat-chip>{{submissionType}}</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-chip-list>
      <mat-chip *ngIf="submissionFormat !== undefined">{{submissionFormat}}</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-chip-list>
      <mat-chip *ngIf="submissionSpreadsheet !== undefined">{{submissionSpreadsheet}}</mat-chip>
    </mat-chip-list>
  </mat-grid-tile>

</mat-grid-list>

<mat-horizontal-stepper>

  <mat-step>
      <ng-template matStepLabel>Select submission type</ng-template>

      <app-submission-type-selector (onSubmissionTypeChange)="consumeSubmissionTypeChange($event)">
      </app-submission-type-selector>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Select submission format</ng-template>

        <app-submission-format-selector
          [submissionType]='submissionType'
          (onSubmissionFormatChange)="consumeSubmissionFormatChange($event)">
        </app-submission-format-selector>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Download spreadsheet</ng-template>

        <app-submission-spreadsheet-selector
          [submissionType]='submissionType'
          [submissionFormat]='submissionFormat'
          (onSubmissionSpreadsheetChange)="consumeSubmissionSpreadsheetChange($event)">
        </app-submission-spreadsheet-selector>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Submit spreadsheet</ng-template>
        <p>Submit spreadsheet</p>
        <p>
          <input type="file" #file (change)="onChangeSpreadsheetFile(file.files)"/>
        </p>
        <p>
        <mat-radio-group class ="app-radio-group" [(ngModel)]="action">
          <mat-radio-button class ="app-radio-button" value="add">Submit new records</mat-radio-button>
          <mat-radio-button class ="app-radio-button" value="update">Update existing records</mat-radio-button>
          <mat-radio-button class ="app-radio-button" value="validate add">Validate but do not submit new records</mat-radio-button>
          <mat-radio-button class ="app-radio-button" value="validate update">Validate but do not update existing records</mat-radio-button>
        </mat-radio-group>
      </p>
        <p>
          <button mat-raised-button color="accent" [disabled]="!canSubmit()" (click)="submit()">Submit</button>
        </p>

        <div *ngIf="result !== undefined">

          <!-- Show success or failure -->

          <div *ngIf="webinErrorDataSource !== undefined">
            <div class="app-error">
                <i class="material-icons">error</i>
                Submission failed. Please see the list of errors below.
            </div>
          </div>
          <div *ngIf="webinAccessionDataSource !== undefined">
            <div class="app-success">
                <i class="material-icons">done</i>
                Submission was successful. Please see the list of assigned accession numbers below.
            </div>
          </div>


          <!-- Show table or XML selector -->

          <div class="container"
               fxLayout
               fxLayoutAlign="space-around start"
               fxLayoutGap="10px">
            <div>
              <mat-form-field>
                <mat-select [(value)]="resultDisplay" placeholder="Show">
                  <mat-option value="table">
                     Table
                  </mat-option>
                  <mat-option value="xml">
                     Receipt XML
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex>
           </div>
            <div>
              <button mat-raised-button color="accent" (click)="downloadReceiptXml()">
                Download Receipt XML
              </button>
            </div>
          </div>

          <!-- Show errors -->

          <div *ngIf="webinErrorDataSource !== undefined">

            <div *ngIf="resultDisplay=='table'" class="app-table-container">

              <mat-table #webinErrorTable [dataSource]="webinErrorDataSource" >

                <ng-container matColumnDef="error">
                  <mat-header-cell *matHeaderCellDef><span class="app-table-header">Error message</span></mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.error}}</mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="webinErrorTableColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: webinErrorTableColumns;"></mat-row>

              </mat-table>

              <mat-paginator #webinErrorPaginator
                             [length]="getNumberOfErrors()"
                             [pageSize]="10"
                             [pageSizeOptions]="[10, 25, 50]">
              </mat-paginator>

            </div>

            <div *ngIf="resultDisplay=='xml'">
              <div class="app-receipt app-table-container">
                <pre>{{result.xml}}</pre>
              </div>
            </div>

          </div> <!-- <div *ngIf="webinErrorDataSource !== undefined"> -->

          <!-- Show accessions -->

          <div *ngIf="webinAccessionDataSource !== undefined">

            <div *ngIf="resultDisplay=='table'" class="app-table-container">

              <mat-table #webinAccessionTable [dataSource]="webinAccessionDataSource" >

                <ng-container matColumnDef="type">
                  <mat-header-cell *matHeaderCellDef><span class="app-table-header">Type</span></mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="accession">
                  <mat-header-cell *matHeaderCellDef><span class="app-table-header">Accession</span></mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.accession}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="alias">
                  <mat-header-cell *matHeaderCellDef><span class="app-table-header">Unique name (alias)</span></mat-header-cell>
                  <mat-cell *matCellDef="let element">{{element.alias}}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="webinAccessionTableColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: webinAccessionTableColumns;"></mat-row>

              </mat-table>

              <mat-paginator #webinAccessionPaginator
                             [length]="getNumberOfAccessions()"
                             [pageSize]="10"
                             [pageSizeOptions]="[10, 25, 50]">
              </mat-paginator>

            </div>

            <div *ngIf="resultDisplay=='xml'">
              <div class="app-receipt app-table-container">
                <pre>{{result.xml}}</pre>
              </div>
            </div>

          </div> <!-- <div *ngIf="webinErrorDataSource !== undefined"> -->


        </div> <!-- <div *ngIf="result !== undefined"> -->

      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
  </mat-step>

</mat-horizontal-stepper>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
