<div class="vf-intro">
  <p class="vf-lede">Submit to ENA using your Life Sciences Login.</p>
  <mat-card>
    <mat-card-content>
      <div style="text-align: left">
        <p class="vf-text-body vf-text-body--3">
          Use your existing LifeScience (previously Elixir) account to sign in. If you do not have an account, you can
          associate an existing
          email account with LifeScience and return to sign in here.
        </p>
        <br/>
        <p>
          <a (click)="login()" href="javascript:void(0)" class="vf-link" style="margin:0 50px 0 0">
            <img src="assets/ls-login.png" alt="[LS AAI Login]" width="220">
          </a>
          <a
            href="https://signup.aai.lifescience-ri.eu/fed/registrar/?vo=lifescience"
            target="_blank" class="vf-link">
            <img src="assets/ls-register.png" alt="[LS AAI Register]" width="220">
          </a>
        </p>
      </div>
    </mat-card-content>
  </mat-card>
  <p class="vf-text-body vf-text-body--5">
    <br/>
    Privacy notice goes here.
  </p>
</div>

