.body{
    padding:10px 20px 10px 10px;
}

.container{
    padding: 10px 0px 0px 0px;
}

.column {
    float: left;
    width: 50%;
  }
.column3{
    float: left;
    width: 33.3%;
}  

mat-form-field {
    width: 100%;
}

mat-card{
    margin:10px;
}


mat-form-field.mat-form-field {
    font-size: 14px;
    font-family: Roboto;
  }

mat-icon{
  cursor: pointer;  
}
 
.mat-row:nth-child(even){
    background-color:#f8f8f8;
}

.mat-header-cell{
    font-weight: bold;
    font-size: 14px;
    color: #000000c7;
        justify-content:center;
    
}


.centred{
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}


.back-div{
    float: left;
    padding-top: 2px;
    cursor: pointer;
  }

  input[readonly]{
    background-color: #f5f5f5;
  }