<div>
      <span class = "app-primary-color">
        <i class="material-icons">info</i>
      </span>
  This page is used for making new submissions. To access reports please select one of the other pages above.
</div>

<mat-accordion>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Submit XML files
    </mat-panel-title>
  </mat-expansion-panel-header>

  <p>
    Please use this submission option to make any type of Webin submission
    using XML files.
  </p>

    <div class="container"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="space-around start"
         fxLayoutGap="10px">
      <div fxFlex="33">
        Submission XML (mandatory)
        <input type="file" class="app-choose-file" #submissionFile (change)="onChangeSubmissionFile(submissionFile.files)"/>
        Study XML
        <input type="file" class="app-choose-file" #studyFile (change)="onChangeStudyFile(studyFile.files)"/>
        Project XML
        <input type="file" class="app-choose-file" #projectFile (change)="onChangeProjectFile(projectFile.files)"/>
        Sample XML
        <input type="file" class="app-choose-file" #sampleFile (change)="onChangeSampleFile(sampleFile.files)"/>
      </div>
      <div fxFlex="33">
        Experiment XML
        <input type="file" class="app-choose-file" #experimentFile (change)="onChangeExperimentFile(experimentFile.files)"/>
        Run XML
        <input type="file" class="app-choose-file" #runFile (change)="onChangeRunFile(runFile.files)"/>
        Analysis XML
        <input type="file" class="app-choose-file" #analysisFile (change)="onChangeAnalysisFile(analysisFile.files)"/>
      </div>

      <div *ngIf="isEga()">
        <div fxFlex>
          EGA DAC XML
          <input type="file" class="app-choose-file" #dacFile (change)="onChangeDacFile(dacFile.files)"/>
          EGA Policy XML
          <input type="file" class="app-choose-file" #policyFile (change)="onChangePolicyFile(policyFile.files)"/>
          EGA Dataset XML
          <input type="file" class="app-choose-file" #datasetFile (change)="onChangeDatasetFile(datasetFile.files)"/>
        </div>
      </div>
    </div>

    <button mat-raised-button color="accent" [disabled]="!canSubmit()" (click)="submit()">Submit</button>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Download a spreadsheet template for annotated sequences
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>
      Please use this submission option to create an empty spreadsheet template
      for annotated sequences. Select a suitable checklist and checklist fields
      and download the empty spreadsheet template. Fill the spreadsheet
      with your sequences and sequence annotation and submit the spreadsheet
      using the Webin command line interface.
    </p>

    <mat-horizontal-stepper #stepper>
      <mat-step label="Select checklist group">
        <p>Please select a checklist group.</p>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="checklistGroupDataSource">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let checklistGroup">
                <p style="font-weight:bold;"> {{ checklistGroup.name }} </p>
                <p style="margin-left:10px;"> {{ checklistGroup.description }} </p>
              </td>
            </ng-container>

            <tr mat-row *matRowDef="let row; columns: checklistGroupDisplayedColumns;" (click)="setChecklistGroup(row, stepper)"></tr>
          </table>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="this.selectedChecklistGroup == undefined">Next</button>
        </div>

      </mat-step>
      <mat-step label="Select checklist">
        <div *ngIf="selectedChecklistGroup != undefined">
          <p>You have selected <b>{{selectedChecklistGroup.name}}</b>. Please select the most appropriate checklist from the list below.</p>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="checklistDataSource">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let checklist">
                      <p style="font-weight:bold;"> {{ checklist.name }} </p>
                      <p style="margin-left:10px;"> {{ checklist.description }} </p>
                  </td>
                </ng-container>

                <tr mat-row *matRowDef="let row; columns: checklistDisplayedColumns;" (click)="setChecklist(row, stepper)"></tr>
              </table>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext [disabled]="this.selectedChecklist == undefined">Next</button>
        </div>

      </mat-step>
      <mat-step label="Select checklist fields">
        <div *ngIf="selectedChecklist != undefined">
          <p>You have selected <b>{{selectedChecklist.name}}</b>. Please select the checklist fields below.</p>

          <mat-accordion>
            <mat-expansion-panel *ngFor="let fieldGroup of selectedChecklist.fieldGroups">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{fieldGroup.name}} {{getSelectedFieldsDisplayText(fieldGroup)}}
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div *ngFor="let field of fieldGroup.fields">
                <div
                  class="container"
                  fxLayout
                  fxLayout.xs="row wrap"
                  fxLayoutAlign="space-around start"
                  fxLayoutGap="10px">
                  <div style="width:40%">
                    <mat-checkbox [(ngModel)]="selectedFields[field.name]" [disabled]="mandatoryFields[field.name]">{{field.name}}</mat-checkbox>
                  </div>
                  <div style="width:30%">
                    <i>{{field.mandatory}} {{getFieldTypeDisplayText(field)}}</i>
                  </div>
                  <div style="width:30%">
                    <p *ngIf="field.units.length > 0">
                    <mat-select class="checklist-restriction" placeholder="Permitted units">
                      <mat-option *ngFor="let unit of field.units" [value]="unit" disabled>
                        {{ unit }}
                      </mat-option>
                    </mat-select>
                    </p>
                    <p *ngIf="field.regexValue" class="checklist-restriction">
                      <mat-select class="checklist-restriction" placeholder="Permitted regular expression">
                        <mat-option disabled>
                          {{ field.regexValue }}
                        </mat-option>
                      </mat-select>
                    </p>
                    <p *ngIf="field.textChoice && field.textChoice.length > 0">
                      <mat-select class="checklist-restriction" placeholder="Permitted values">
                        <mat-option *ngFor="let textChoice of field.textChoice" [value]="textChoice" disabled>
                          {{ textChoice }}
                        </mat-option>
                      </mat-select>
                    </p>
                    <p *ngIf="field.ontologyId" class="checklist-restriction">
                      Permitted ontology: {{ field.ontologyId }}
                     </p>
                  </div>
                </div>
                <p style="margin-left:10px;">
                  {{field.description}}
                </p>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step label="Download spreadsheet template">
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="TODO_reset">Done</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-expansion-panel>

</mat-accordion>

<app-submission-result #submissionResult></app-submission-result>
