<form (ngSubmit)="login()" autocomplete="off">
  <div fxLayout="row" fxLayoutAlign="left center" class="login-card-container">
    <mat-card class="welcome-card mat-elevation-z0">
      <mat-card-title>Welcome to the Webin submission Portal.</mat-card-title>
      <div>
        <mat-card-subtitle style="text-align: left;">
          <p>To submit human data requiring controlled access please log in using EGA credentials.</p>
          <p>You can use this service for a range of submission activities as well as reports
            on your submissions.</p>


          <div *ngIf="serverMessage" class="message" [innerHTML]=serverMessage> </div>
        </mat-card-subtitle>
      </div>
    </mat-card>
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Please provide your Webin credentials</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field>
          <input matInput placeholder="Submission account" required [(ngModel)]="username" name="username"
            autocomplete="new-password">
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" required [(ngModel)]="password" name="password"
            autocomplete="new-password">
        </mat-form-field>

        <div style="text-align: center;">
          <button mat-raised-button color="accent" type="submit" name="action">Login</button>
          <button mat-raised-button color="primary" type="button" style="margin-left: 5px;"
            [routerLink]="['/accountInfo']">Register</button>
          <p>
            <a (click)="openResetPasswordRequestDialog({})">Forgot Password ? </a>
          </p>
        </div>
        <p class="app-error" *ngIf="error">
          <i class="material-icons">error</i>
          <span [innerHTML]=errorMessage> </span>

        </p>
      </mat-card-content>
    </mat-card>
  </div>
</form>