.login-card-container {
  min-height: 400px;
}

.login-card {
  width: 325px;
}

.welcome-card {
  width: 40%;
  margin-right:15px;
  min-height: 325px;
  background: none;
}

input[type="password"]{
  box-shadow: none;
  height: auto;
  
} 

input[type="password"]:focus{
  border: none;
  box-shadow: none;
}

.message{
  color: red;
    border: solid 1px;
    border-radius: 10px;
    padding: 10px;
    background-color: #ffcb8e26;
}