<div class="sidenav-container">

  <button *ngIf="isAuthenticated()" mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-sidenav-container class="sidenav-sidenav-container">
    <mat-sidenav #snav [mode]="over">
      <mat-nav-list>
        <mat-list-item class="parent" [routerLink]="['/.']" (click)="snav.toggle()">
          <mat-icon style="padding-right: 35px;">dashboard</mat-icon>
          <a class="full-width-dashboard">Dashboard</a>
        </mat-list-item>
        <!--<mat-list-item *ngIf="!isEga()" class="parent" [ngStyle]="{'pointer-events':'none'}">
          <mat-icon style="padding-right: 35px;">account_box</mat-icon>
          <span class="full-width">Account Management</span>
        </mat-list-item>
        <div *ngIf="!isEga()" class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <a mat-list-item routerLink="/accountInfo" (click)="snav.toggle()">Edit Information</a>
        </div>-->
        <mat-list-item class="parent" [ngStyle]="{'pointer-events':'none'}">
          <mat-icon style="padding-right: 35px;">add_box</mat-icon>
          <span class="full-width">Studies (Projects)</span>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <a mat-list-item *ngIf="isSuperUser()" [routerLink]="['/umbrella']" (click)="snav.toggle()">Register umbrella
            project</a>
          <a mat-list-item [routerLink]="['/study']" (click)="snav.toggle()">Register Study (Project)</a>
          <a mat-list-item [routerLink]="['/app-submit']" (click)="snav.toggle()">Submit XML (advanced)</a>
          <a mat-list-item *ngIf="isSuperUser()"
            [routerLink]="['/report',ReportType.umbrellaProjects,{defaultSearch: true}]"
            (click)="snav.toggle()">Umbrella
            Project</a>
          <a mat-list-item [routerLink]="['/report',ReportType.studies,{defaultSearch: true}]"
            (click)="snav.toggle()">Study Report</a>


          <ng-container *ngIf="isEga()">

          </ng-container>
        </div>
        <mat-list-item class="parent" [ngStyle]="{'pointer-events':'none'}">
          <mat-icon style="padding-right: 35px;">add_box</mat-icon>
          <span class="full-width">Samples</span>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <a mat-list-item [routerLink]="['/app-checklist','sample',true]" (click)="snav.toggle()">Register Samples</a>
          <ng-container *ngIf="!isEga()">
            <a mat-list-item [routerLink]="['/taxonomy']" (click)="snav.toggle()">Register Novel Taxonomy</a>
          </ng-container>
          <a mat-list-item [routerLink]="['/app-submit']" (click)="snav.toggle()">Submit XML (advanced)</a>
          <a mat-list-item [routerLink]="['/report',ReportType.samples,{defaultSearch: true}]"
            (click)="snav.toggle()">Samples Report</a>

        </div>
        <!-- EGA-->
        <mat-list-item *ngIf="isEga()" class="parent" [ngStyle]="{'pointer-events':'none'}">
          <mat-icon style="padding-right: 35px;">add_box</mat-icon>
          <span class="full-width"> Data Access</span>
        </mat-list-item>
        <div *ngIf="isEga()" class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <a mat-list-item [routerLink]="['/dac']" (click)="snav.toggle()">Register Dacs</a>
          <a mat-list-item [routerLink]="['/dac-policy']" (click)="snav.toggle()">Register Policy</a>
          <a mat-list-item [routerLink]="['/dac-dataset']" (click)="snav.toggle()">Register Dataset</a>
          <a mat-list-item [routerLink]="['/app-submit']" (click)="snav.toggle()">Submit XML (advanced)</a>
          <a mat-list-item [routerLink]="['/report',ReportType.dacs,{defaultSearch: true}]" (click)="snav.toggle()">Dacs
            Report</a>
          <a mat-list-item [routerLink]="['/report',ReportType.policies,{defaultSearch: true}]"
            (click)="snav.toggle()">Policies Report</a>
          <a mat-list-item [routerLink]="['/report',ReportType.datasets,{defaultSearch: true}]"
            (click)="snav.toggle()">Datasets Report</a>
        </div>
        <!-- EGA end -->

        <mat-list-item class="parent" [ngStyle]="{'pointer-events':'none'}">
          <mat-icon style="padding-right: 35px;">add_box</mat-icon>
          <span class="full-width"> Raw Reads (Experiments and Runs)</span>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">

          <a mat-list-item [routerLink]="['/read-submission']" (click)="snav.toggle()">Submit Reads</a>
          <a mat-list-item [routerLink]="['/app-submit']" (click)="snav.toggle()">Submit XML (advanced)</a>
          <a mat-list-item [routerLink]="['/report',ReportType.runs,{defaultSearch: true}]" (click)="snav.toggle()">Runs
            Report</a>
          <a *ngIf="!isEga()" mat-list-item [routerLink]="['/report',ReportType.runFiles,{defaultSearch: true}]"
            (click)="snav.toggle()">Run Files Report</a>
          <a *ngIf="!isEga()" mat-list-item [routerLink]="['/report',ReportType.runProcess,{defaultSearch: true}]"
            (click)="snav.toggle()">Run Processing Report</a>
          <a *ngIf="!isEga()" mat-list-item [routerLink]="['/report',ReportType.unsubmittedFiles,{defaultSearch: true}]"
            (click)="snav.toggle()">Unsubmitted Files Report</a>

        </div>
        <mat-list-item class="parent" [ngStyle]="{'pointer-events':'none'}">
          <mat-icon style="padding-right: 35px;">add_box</mat-icon>
          <span class="full-width"> Data Analyses</span>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <a mat-list-item *ngIf="!isEga()" [routerLink]="['/app-checklist','sequence',true]"
            (click)="snav.toggle()">Generate annotated
            sequence spreadsheet</a>
          <a mat-list-item *ngIf="!isEga()" [routerLink]="['/app-submit']" (click)="snav.toggle()">Submit XML
            (advanced)</a>
          <a mat-list-item [routerLink]="['/report',ReportType.analyses,{defaultSearch: true}]"
            (click)="snav.toggle()">Analyses Report</a>
          <a mat-list-item *ngIf="!isEga()" [routerLink]="['/report',ReportType.analysisFiles,{defaultSearch: true}]"
            (click)="snav.toggle()">Analysis File Report</a>
          <a mat-list-item *ngIf="!isEga()" [routerLink]="['/report',ReportType.analysisProcess,{defaultSearch: true}]"
            (click)="snav.toggle()">Analysis Processing Report</a>
        </div>
        <!-- Added 'Tools' category to display links to different tools to support the submission data -->
        <mat-list-item class="parent" [ngStyle]="{'pointer-events':'none'}">
          <mat-icon style="padding-right: 35px;">add_box</mat-icon>
          <span class="full-width"> Tools</span>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}">
          <a mat-list-item target='_blank' href='{{sourceAttributeHelperURL}}'>Source Attribute Helper</a>
        </div>

      </mat-nav-list>


    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <div>

  </div>




</div>




<!-- Copyright 2020 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
