.login-card-container {
  min-height: 400px;
}

.login-card {
  width: 325px;
}

input[type="password"]{
  box-shadow: none;
  height: auto;
  
} 

input[type="password"]:focus{
  border: none;
  box-shadow: none;
}