<form (ngSubmit)="login()">
<div fxLayout="row" fxLayoutAlign="center center" class="login-card-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle>Please provide your Webin credentials</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
      <mat-form-field>
        <input matInput placeholder="Webin submission account" required [(ngModel)]="username" name="username">
      </mat-form-field>
      </p>
      <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" required [(ngModel)]="password" name="password">
      </mat-form-field>
      </p>
      <!-- <p>
        <a href="">Forgot Password ? </a> 
      </p> -->
      <div style="text-align: center;">
      <button mat-raised-button color="accent" type="submit" name="action" >Login</button>
      <button mat-raised-button  color="primary" type="button" style="margin-left: 5px;" [routerLink]="['/register']">Register</button>
    </div>
      <p class="app-error" *ngIf="error">
        <i class="material-icons">error</i>
        Invalid Webin submission account or password
      </p>
    </mat-card-content>
  </mat-card>
</div>
</form>
