<h2 mat-dialog-title>Actions</h2>

<mat-dialog-content>

  <mat-chip-list class="mat-chip-list-stacked">

    <div *ngIf="data.study">
      <mat-chip (click)="reportChangeStudies()">
        Show study {{ data.study }}
      </mat-chip>
    </div>

    <div *ngIf="data.samples">
      <mat-chip (click)="reportChangeSamples()">
        Show samples for {{ data.samples }}
      </mat-chip>
    </div>

  </mat-chip-list>

</mat-dialog-content>
<p>
</p>

<mat-dialog-actions>
<!--
  <button mat-button mat-dialog-close>No</button>
-->
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
