<h2 mat-dialog-title>Actions</h2>

<mat-dialog-content>

  <mat-chip-list class="mat-chip-list-stacked">

    <p *ngIf="data[ReportType.studies]">
      <mat-chip (click)="changeReport(ReportType.studies)">
        Show study {{data[ReportType.studies]}}
      </mat-chip>
    </p>

    <p *ngIf="data[ReportType.samples]">
      <mat-chip (click)="changeReport(ReportType.samples)">
        Show samples for {{data[ReportType.samples]}}
      </mat-chip>
    </p>

    <p *ngIf="data[ReportType.runs]">
      <mat-chip (click)="changeReport(ReportType.runs)">
        Show runs for {{data[ReportType.runs]}}
      </mat-chip>
    </p>

    <p *ngIf="data[ReportType.analyses]">
      <mat-chip (click)="changeReport(ReportType.analyses)">
        Show analyses for {{data[ReportType.analyses]}}
      </mat-chip>
    </p>

  </mat-chip-list>

</mat-dialog-content>
<p>
</p>

<mat-dialog-actions>
<!--
  <button mat-button mat-dialog-close>No</button>
-->
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions>
