.submission-spreadsheet-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.submission-spreadsheet-radio-button {
  margin: 5px;
}

.submission-spreadsheet-selected-value {
  margin: 15px 0;
}
