
<p class="app-error" *ngIf="submissionFormat == undefined">
  <i class="material-icons">error</i>
  Please select submission format
</p>

<ng-container *ngIf="submissionFormat !== undefined">
  <p>
    Please download a spreadsheet template for your submission.
  </p>
  <p>
   Once filled please proceed to the final step to submit your spreadsheet.
  </p>
  <mat-radio-group class ="app-radio-group" [(ngModel)]="submissionSpreadsheet">

      <mat-radio-button class ="app-radio-button" value="xlsx">
        xlsx
      </mat-radio-button>

      <mat-radio-button class ="app-radio-button" value="xls">
        xls
      </mat-radio-button>

      <mat-radio-button class ="app-radio-button" value="tsv">
        tsv
      </mat-radio-button>

  </mat-radio-group>

  <p>
    <button mat-raised-button color="accent" [disabled]="submissionSpreadsheet == undefined" (click)="download()">
      Download {{getSpreadsheetFileName()}}
    </button>
  </p>

</ng-container>
