
<p class="app-error" *ngIf="submissionFormat == undefined">
  <i class="material-icons">error</i>
  Please select submission format
</p>

<ng-container *ngIf="submissionFormat !== undefined">
  <p>
    Spreadsheet format:
  </p>
  <mat-radio-group class ="submission-spreadsheet-radio-group" [(ngModel)]="submissionSpreadsheet">

      <mat-radio-button class ="submission-spreadsheet-radio-button" value="xslx">
        xslx
      </mat-radio-button>

      <mat-radio-button class ="submission-spreadsheet-radio-button" value="xsl">
        xsl
      </mat-radio-button>

      <mat-radio-button class ="submission-spreadsheet-radio-button" value="tsv">
        tsv
      </mat-radio-button>

  </mat-radio-group>

  <p>
    <button mat-raised-button color="accent" [disabled]="submissionSpreadsheet == undefined" (click)="download()">
      Download {{getSpreadsheetFileName()}}
    </button>
  </p>

</ng-container>
