.body{
  padding:10px 20px 10px 10px;
}

.container{
  padding: 10px 0px 0px 0px;
}

.cdk-table {
    background: white;
}

.cdk-row:nth-child(even){
  background-color:#f8f8f8;
  }

.component-margin {
  padding: 10px 0px 0px 0px;
}

mat-form-field.mat-form-field {
  font-size: 14px;
  font-family: Roboto;
}

.back-div{
  float: left;
  padding-top: 2px;
  cursor: pointer;
}

.edit-icon{
  font-size: 20px;
}

.edit-icon-span{
  cursor: pointer;
  margin-left: 10px;
  vertical-align: -5px;
}

input[readonly]{
  background-color:none;
}


