
<div class="mat-h3 mat-tittle">Contact Details</div>
<form (ngSubmit)="doAction()" #cf="ngForm">
<div *ngIf="action!='Delete' && action!='Success' && action!='Error'">
    <mat-checkbox matInput name="primaryContact" [(ngModel)]="contactObj.primaryContact">Is Primary Contact</mat-checkbox>
    <mat-checkbox matInput name="consortiumContact"  [(ngModel)]="contactObj.consortiumContact" style="padding-left: 20px;" >Is Consortium Contact</mat-checkbox>
    
    <mat-form-field>
        <input matInput  name="email" [(ngModel)]="contactObj.email" #emailVal="ngModel" placeholder="Email Address" appUniqueContactEmail="{{emails}}|{{action}}|{{contactObj.email}}" required email/>
           <mat-error *ngIf="cf.controls['email']?.errors?.nonUniqueEmail">
            Email address is used by other contact
        </mat-error> 
        <mat-error *ngIf="cf.controls['email']?.errors?.required || cf.controls['email']?.errors?.invalid ">
            Please enter a valid email address
        </mat-error>

     </mat-form-field>
    <div *ngIf="!contactObj.consortiumContact">
    <mat-form-field>
        <input matInput name="firstName" [(ngModel)]="contactObj.firstName" placeholder="First Name"  required>
    </mat-form-field>
    <mat-form-field>
        <input matInput name="middleName" [(ngModel)]="contactObj.middleName" placeholder="Middle Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput name="surname" [(ngModel)]="contactObj.surname" placeholder="Surame"  required>
    </mat-form-field>
    </div>
    <div *ngIf="contactObj.consortiumContact">
        <mat-form-field>
            <input matInput name="consortiumName" [(ngModel)]="contactObj.consortiumName" placeholder="Consortium Name"  required>
        </mat-form-field>
    </div>
</div>
<div class="mat-body" *ngIf="action==='Delete'">
    Delete will remove the contact with email "{{contactObj.email}}" from the Account. Please click the {{action}} Contact button to proceed.
</div>
<div class="mat-body" *ngIf="action==='Success'">
    Successfully created subbmission account with id : {{contactObj.id}}.
</div>
<div class="mat-body" *ngIf="action==='Error'">
    {{contactObj.error.errorMessage}}
</div>
<div style="text-align:center" *ngIf="action!='Error' && action!='Success'">
    <button mat-raised-button color=primary [disabled]="cf.invalid">{{action}} Contact</button>
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()">Cancel</button>
</div>
<div style="text-align:center" *ngIf="action==='Error'">
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()">Ok</button>
</div>
<div style="text-align:center" *ngIf="action==='Success'">
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()" routerLink="">Ok</button>
</div>

</form>