<div class="body">
    <div>
        <div class="mat-h3 mat-tittle">Register Data access committee (DAC)</div>
    </div>
    <mat-divider></mat-divider>
    <div class="container">
        <mat-card>
            <div style="width: 100%;">
                <mat-form-field style="app-field-padding">
                    <textarea rows="3" matInput placeholder="Short descriptive title for the DAC" required
                        [(ngModel)]="description" name="description"></textarea>
                </mat-form-field>
            </div>
        </mat-card>
    </div>
</div>