<button mat-button [matMenuTriggerFor]="menu">
    <i class="material-icons">launch</i></button>

<mat-menu #menu="matMenu">


  <!-- Edit XML actions. -->

  <div *ngIf="isEditXmlAction(ReportType.projects)">
    <button mat-menu-item (click)="editXmlAction(ReportType.projects)"><i class="material-icons">mode_edit</i>Edit study (project) XML</button>
    <button mat-menu-item (click)="editProjectAction(reportData)"><i class="material-icons">mode_edit</i>Edit study (project)</button>
  </div>
  <div *ngIf="isEditXmlAction(ReportType.studies)">
    <button mat-menu-item (click)="editXmlAction(ReportType.studies)"><i class="material-icons">mode_edit</i>Edit study XML</button>
  </div>
  <div *ngIf="isEditXmlAction(ReportType.samples)">
    <button mat-menu-item (click)="editXmlAction(ReportType.samples)"><i class="material-icons">mode_edit</i>Edit sample XML</button>
  </div>
  <div *ngIf="isEditXmlAction(ReportType.runs)">
    <button mat-menu-item (click)="editXmlAction(ReportType.runs)"><i class="material-icons">mode_edit</i>Edit run XML</button>
  </div>
  <div *ngIf="isEditXmlAction(ReportType.experiments)">
    <button mat-menu-item (click)="editXmlAction(ReportType.experiments)"><i class="material-icons">mode_edit</i>Edit experiment XML</button>
  </div>
  <div *ngIf="isEditXmlAction(ReportType.analyses)">
    <button mat-menu-item (click)="editXmlAction(ReportType.analyses)"><i class="material-icons">mode_edit</i>Edit analysis XML</button>
  </div>
  <div *ngIf="isEditXmlAction(ReportType.dacs)">
    <button mat-menu-item (click)="editXmlAction(ReportType.dacs)"><i class="material-icons">mode_edit</i>Edit dac XML</button>
  </div>
  <div *ngIf="isEditXmlAction(ReportType.policies)">
    <button mat-menu-item (click)="editXmlAction(ReportType.policies)"><i class="material-icons">mode_edit</i>Edit policy XML</button>
  </div>
  <div *ngIf="isEditXmlAction(ReportType.datasets)">
    <button mat-menu-item (click)="editXmlAction(ReportType.datasets)"><i class="material-icons">mode_edit</i>Edit dataset XML</button>
  </div>


  <!-- Change report actions. -->


  <div *ngIf="isChangeReportAction(ReportType.studies)">
    <button mat-menu-item (click)="changeReportAction(ReportType.studies)">Show study</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.samples)">
    <button mat-menu-item (click)="changeReportAction(ReportType.samples)">Show samples</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.runs)">
    <button mat-menu-item (click)="changeReportAction(ReportType.runs)">Show runs</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.analyses)">
    <button mat-menu-item (click)="changeReportAction(ReportType.analyses)">Show analyses</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.runFiles)">
    <button mat-menu-item (click)="changeReportAction(ReportType.runFiles)">Show submitted files</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.analysisFiles)">
    <button mat-menu-item (click)="changeReportAction(ReportType.analysisFiles)">Show submitted files</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.runProcess)">
    <button mat-menu-item (click)="changeReportAction(ReportType.runProcess)">Show processing status</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.analysisProcess)">
    <button mat-menu-item (click)="changeReportAction(ReportType.analysisProcess)">Show processing status</button>
  </div>


  <div *ngIf="isChangeReportAction(ReportType.dacs)">
    <button mat-menu-item (click)="changeReportAction(ReportType.dacs)">Show dac</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.policies)">
    <button mat-menu-item (click)="changeReportAction(ReportType.policies)">Show policies</button>
  </div>

  <div *ngIf="isChangeReportAction(ReportType.datasets)">
    <button mat-menu-item (click)="changeReportAction(ReportType.datasets)">Show datasets</button>
  </div>

</mat-menu>
