
<mat-radio-group class ="app-radio-group" [(ngModel)]="submissionFormat">
  <ng-container *ngIf="submissionType == 'Reads'">
    <mat-radio-button class ="app-radio-button" *ngFor="let format of readFormats" [value]="format">
      {{format}}
    </mat-radio-button>
  </ng-container>
  <ng-container *ngIf="submissionType == 'Genomes'">
    <mat-radio-button class ="app-radio-button" *ngFor="let format of genomeFormats" [value]="format">
      {{format}}
    </mat-radio-button>
    <p>
      <span class = "app-primary-color">
      <i class="material-icons">info</i>
      </span>
      Unannotated sequences are submitted using a Fasta file.
    </p>
    <p>
      <span class = "app-primary-color">
      <i class="material-icons">info</i>
      </span>
      Annotated sequences are submitted using an EMBL-Bank flat file.
    </p>
  </ng-container>
  <ng-container *ngIf="submissionType == 'Transcriptomes'">
    <mat-radio-button class ="app-radio-button" *ngFor="let format of transcriptomeFormats" [value]="format">
      {{format}}
    </mat-radio-button>
    <p>
      <span class = "app-primary-color">
      <i class="material-icons">info</i>
      </span>
      Unannotated sequences are submitted using a Fasta file.
    </p>
    <p>
      <span class = "app-primary-color">
      <i class="material-icons">info</i>
      </span>
      Annotated sequences are submitted using an EMBL-Bank flat file.
    </p>
  </ng-container>
</mat-radio-group>
