<div class="body">
  <div>
    <div *ngIf="checklistType === ChecklistType.sample" class="mat-h3 mat-tittle">
      Register Samples using spreadsheet template
    </div>
    <div *ngIf="checklistType === ChecklistType.sequence" class="mat-h3 mat-tittle">
      Spreadsheet templates for Annoted sequences
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="container">
    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="mat-body"
        [expanded]="getChecklistTypeParamValue()=='sequence'">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <b *ngIf="checklistType === ChecklistType.sequence">Download spreadsheet template for annotated
              sequences</b>
            <b *ngIf="checklistType === ChecklistType.sample">Download spreadsheet to register samples</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngIf="!checklistGroupDataSource && !init" class="mat-body">
          <p *ngIf="checklistType === ChecklistType.sample">
            Use this submission option to create and download a spreadsheet
            template for samples.
          </p>

          <p *ngIf="checklistType === ChecklistType.sequence">
            Use this submission option to create and download a spreadsheet
            template for sequences.
          </p>

          <button mat-raised-button color="accent" (click)="initChecklists()">
            Start
          </button>
        </div>

        <div *ngIf="checklistGroupDataSource">
          <p *ngIf="checklistType === ChecklistType.sample">
            Please select the most appropriate checklist group, checklist and
            checklist fields. Download an empty spreadsheet template, fill in
            the spreadsheet and submit the spreadsheet using Webin.
          </p>

          <p *ngIf="checklistType === ChecklistType.sequence">
            Please select the most appropriate checklist group, checklist and
            checklist fields. Download an empty spreadsheet template, Fill in
            the spreadsheet and submit the spreadsheet using
            <a href="https://ena-docs.readthedocs.io/en/latest/sequence/webin-cli-spreadsheet.html"
              target="_blank">Webin command line interface</a>.
          </p>
        </div>

        <div *ngIf="active" style="height: 70px">
          <mat-spinner [diameter]="50" [strokeWidth]="5" style="margin: 0 auto">
          </mat-spinner>
        </div>

        <div *ngIf="dataError">
          <div class="app-error">
            <i class="material-icons">error</i>
            {{ dataError }}
          </div>
        </div>

        <mat-vertical-stepper #stepper *ngIf="checklistGroupDataSource">
          <mat-step label="Select checklist group">
            <p>Please select a checklist group first.</p>

            <div class="mat-elevation-z8">
              <mat-table [dataSource]="checklistGroupDataSource">
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                  <mat-cell *matCellDef="let checklistGroup" style="cursor: pointer">
                    <p style="font-weight: bold">{{ checklistGroup.name }}</p>
                    <p style="margin-left: 10px">
                      {{ checklistGroup.description }}
                    </p>
                  </mat-cell>
                </ng-container>

                <mat-row *matRowDef="let row; columns: checklistGroupDisplayedColumns"
                  (click)="setChecklistGroup(row, stepper)"></mat-row>
              </mat-table>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext [disabled]="!this.selectedChecklistGroup">
                Next
              </button>
            </div>
          </mat-step>
          <mat-step label="Select checklist">
            <div *ngIf="!selectedChecklistGroup">
              <p>Please select a checklist group first.</p>
            </div>

            <div *ngIf="selectedChecklistGroup">
              <p>
                You have selected <b>{{ selectedChecklistGroup.name }}</b>. Please select the most appropriate checklist
                from the list
                below.
              </p>
              <div class="mat-elevation-z8">
                <table cdk-table [dataSource]="checklistDataSource">
                  <ng-container cdkColumnDef="name">
                    <th cdk-header-cell *cdkHeaderCellDef>Name</th>
                    <td cdk-cell *cdkCellDef="let checklist" style="cursor: pointer">
                      <p style="font-weight: bold">{{ checklist.name }}</p>
                      <p>{{ checklist.description }}</p>
                    </td>
                  </ng-container>

                  <tr cdk-row *cdkRowDef="let row; columns: checklistDisplayedColumns"
                    (click)="setChecklist(row, stepper)"></tr>
                </table>
              </div>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext [disabled]="!this.selectedChecklist">
                Next
              </button>
            </div>
          </mat-step>
          <mat-step label="Select checklist fields">
            <div *ngIf="!selectedChecklist">
              <p>Please select a checklist first.</p>
            </div>

            <div *ngIf="selectedChecklist">
              <p>
                You have selected <b>{{ selectedChecklist.name }}</b>. Please select the checklist fields below.
              </p>

              <div class="mat-elevation-z8">
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let fieldGroup of selectedChecklist.fieldGroups">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ fieldGroup.name
                        }}<span fxHide fxShow.gt-sm>
                          {{ getSelectedFieldsDisplayText(fieldGroup) }}</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div *ngFor="let field of fieldGroup.fields">
                      <mat-checkbox [(ngModel)]="selectedFields[field.label]" [disabled]="mandatoryFields[field.label]">
                        {{
                        field.label
                        }}
                      </mat-checkbox>
                      <p fxHide fxShow.gt-sm>
                        <i>{{ field.mandatory }}
                          {{ getFieldTypeDisplayText(field) }}</i>
                      </p>
                      <!--
            <p *ngIf="checklistType === ChecklistType.sequence">
              {{field.name}}
            </p>
            -->
                      <p>
                        {{ field.description }}
                      </p>
                      <div fxLayout="row">
                        <div fxFlex="200px">
                          <p *ngIf="field.units.length > 0">
                            <mat-select class="checklist-restriction" placeholder="Permitted units">
                              <mat-option *ngFor="let unit of field.units" [value]="unit" disabled>
                                {{ unit }}
                              </mat-option>
                            </mat-select>
                          </p>
                          <p *ngIf="field.regexValue" class="checklist-restriction">
                            <mat-select class="checklist-restriction" placeholder="Regular expression">
                              <mat-option disabled>
                                {{ field.regexValue }}
                              </mat-option>
                            </mat-select>
                          </p>
                          <p *ngIf="
                              field.textChoice && field.textChoice.length > 0
                            ">
                            <mat-select class="checklist-restriction" placeholder="Permitted values">
                              <mat-option *ngFor="let textChoice of field.textChoice" [value]="textChoice" disabled>
                                {{ textChoice }}
                              </mat-option>
                            </mat-select>
                          </p>
                          <p *ngIf="field.ontologyId" class="checklist-restriction">
                            Permitted ontology: {{ field.ontologyId }}
                          </p>
                        </div>
                        <div fxFlex></div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step label="Download spreadsheet template">
            <div *ngIf="!selectedChecklist">
              <p>Please select a checklist first.</p>
            </div>

            <div *ngIf="selectedChecklist">
              <p>
                Please download the spreadsheet template containing the fields
                you have selected by using the 'Download' button below.
              </p>

              <div *ngIf="checklistType === ChecklistType.sequence">
                <p>
                  Please do not modify the first two lines of the spreadsheet.
                  The first line contains the checklist name and the second line
                  contains the field names in separate columns. The first column
                  in the spreadsheet, the ENTRYNUMBER, starts with 1 and is
                  incremented by 1 for each sequence. For example, if the
                  spreadsheet has 10 sequences the first ENTRYNUMBER should be 1
                  and the last should be 10. The other columns in the
                  spreadsheet correspond to the checklist fields you have
                  selected. You can find more information about permitted values
                  for each column from the 'Select checklist fields' page.
                </p>
              </div>

              <!--<button mat-raised-button color="accent" (click)="downloadExcelSpreadsheet()">Download Excel Template</button> -->
              <button mat-raised-button color="accent" (click)="downloadTsvSpreadsheet()" style="margin-left: 5px">
                Download TSV Template
              </button>
            </div>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <!-- <button mat-button matStepperNext (click)="">Done</button> -->
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="checklistType === ChecklistType.sample" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Upload filled spreadsheet to register samples</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form (ngSubmit)="uploadFile(form)" #form="ngForm">
          <div>
            <p>
              If you have downloaded and filled a template spreadsheet please
              upload it using the <b>Submit Completed Spreadsheet</b> button.
            </p>
            <br />
            <p>
              Please note that only spreadsheets in tab-delimited text format
              are supported (with either .tsv or .txt or .tab extensions). If
              you edited the spreadsheet in Microsoft Excel (or equivalent)
              please save the spreadsheet as Text (Tab delimited). To do this
              please see
              <a href="https://support.office.com/en-us/article/Import-or-export-text-txt-or-csv-runs-5250ac4c-663c-47ce-937b-339e391393ba?ui=en-US&amp;rs=en-US&amp;ad=US#bmexport"
                target="_blank">these instructions</a>.
            </p>
          </div>
          <div>
            <input type="file" required name="spreadSheet" [(ngModel)]="form.spreadSheet" observeFiles />
            <mat-form-field *ngIf="isBroker()" appearance="outline" style="width:7%; margin-right: 5px;">
              <input matInput placeholder="Center name" name="centerName" [(ngModel)]="centerName">
            </mat-form-field>
            <button mat-raised-button color="accent" [disabled]="form.invalid">
              Submit Completed Spreadsheet
            </button>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>