
<div>
  <mat-tab-group #tabGroup>
    <mat-tab label="Submit spreadsheet">
      <app-spreadsheet-submission></app-spreadsheet-submission>
    </mat-tab>
    <mat-tab label="Submit XML">
      <app-xml-submission></app-xml-submission>
    </mat-tab>
    <mat-tab #studies label="Studies">
      <app-report [reportType]="'studies'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab #samples label="Samples">
      <app-report [reportType]="'samples'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab #runs label="Runs">
      <app-report [reportType]="'runs'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab #analyses label="Analyses">
      <app-report [reportType]="'analyses'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab #runFiles label="Run files">
      <app-report [reportType]="'run files'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab #analysisFiles label="Analysis files">
      <app-report [reportType]="'analysis files'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>

  </mat-tab-group>
</div>
