
<div>
  <mat-tab-group #tabGroup>
    <mat-tab label="Submit spreadsheet">
      <app-spreadsheet-submission></app-spreadsheet-submission>
    </mat-tab>
    <mat-tab label="Submit XML">
      <app-xml-submission></app-xml-submission>
    </mat-tab>
    <mat-tab label="Studies">
      <app-report #studies [reportType]="'studies'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Samples">
      <app-report #samples [reportType]="'samples'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Runs">
      <app-report #runs [reportType]="'runs'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Analyses">
      <app-report #analyses [reportType]="'analyses'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Run files">
      <app-report #runFiles [reportType]="'run files'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Analysis files">
      <app-report #analysisFiles [reportType]="'analysis files'" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>

  </mat-tab-group>
</div>
