<div class="mat-h3 mat-tittle">{{title}}</div>



<div class="mat-body" *ngIf="action==='Success' || action==='SuccessAndClose'">
    {{message}}
</div>

<div class="mat-body" *ngIf="action==='Error'">
    {{message}}
</div>

<br>

<div style="text-align:center" *ngIf="action==='Success'">
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()" routerLink="">Ok</button>
</div>

<div style="text-align:center" *ngIf="action==='SuccessAndClose'">
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()">Ok</button>
</div>

<div style="text-align:center" *ngIf="action==='Error'">
    <button type="button" mat-raised-button style="margin-left: 5px;" (click)="closePopup()">Ok</button>
</div>