/* You can add global styles to this file, and also import other style files */
// Material icons

@use '@angular/material' as mat;
@include mat.core();
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// Fonts
// @import url('https://fonts.googleapis.com/icon?family=Roboto');
// body {
//   font-family: Roboto;
// }
// Material theme
// https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.2/css/ebi-global.css
// primary #007c82
// accent (analogous) #38983e
// http://mcg.mbitson.com
$mat-ebi-primary: (
  50 : #e0eff0,
  100 : #b3d8da,
  200 : #80bec1,
  300 : #4da3a8,
  400 : #269095,
  500 : #007c82,
  600 : #00747a,
  700 : #00696f,
  800 : #005f65,
  900 : #004c52,
  A100 : #85f4ff,
  A200 : #52efff,
  A400 : #1febff,
  A700 : #05e8ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-ebi-accent: (
  50 : #e7f3e8,
  100 : #c3e0c5,
  200 : #9ccc9f,
  300 : #74b778,
  400 : #56a75b,
  500 : #38983e,
  600 : #329038,
  700 : #2b8530,
  800 : #247b28,
  900 : #176a1b,
  A100 : #a3ffa7,
  A200 : #70ff76,
  A400 : #3dff45,
  A700 : #24ff2c,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$app-primary: mat.define-palette($mat-ebi-primary);
$app-accent:  mat.define-palette($mat-ebi-accent);
$app-warn:    mat.define-palette(mat.$red-palette);

$app-theme: mat.define-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($app-theme);

// Styles

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

/*.app-primary-color {
  color: $primary
}

.app-accent-color {
  color: $accent
}*/

.app-warning, .app-error, .app-success {
  margin: 10px 0px;
  padding:12px;
}

.app-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.app-error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.app-success {
    color: #31708F;
    background-color: #D9EDF7;
}



.action-active {
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
    background-color: #006E6F;
}

.action-completed {
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
    background-color: #006C3B;
}

.action-failed {
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
    background-color: #B71116;
}


.app-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.app-radio-button {
  margin: 5px;
}

.app-selected-value {
  margin: 10px 0;
}

.app-choose-file {
  margin: 10px 0;
}

.app-submission-result-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 200px;
  padding-top: 10px;
}

.app-table-header {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

.app-receipt {
    max-height: 300px;
    overflow-y: scroll;
}

.app-dashboard {
  min-height: 550px;
}

@media all and (max-width: 599px)  {

  .app-dashboard {
    min-height: 0px;
  }
}

.mat-table {
  overflow: auto;
  max-height: 550px;
}

.mat-chip {
  text-align: center;
}

.mat-tab-label {
  min-width: 1px !important;
}

// EBI styles

.masthead.compact-for-data {
  .masthead-inner {
    padding-top: .5rem;

    div#local-title {
      margin-bottom: 0;
    }
    h1 {
      font-size: 2.5rem;
      margin-bottom: 0;
      margin-top: -.5rem;
    }
    form {
      margin-top: -1rem;
    }
    nav {
      margin-top: .75rem;
      clear: none;
    }
  }
  &.compact-disabled .masthead-inner > nav.column {
    width: 100%;
    left: 0;
  }
}

// Override foundation styles.

table tbody tr:nth-child(even) {
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
}

table tbody tr:nth-child(odd) {
    background-color: white;
    border-bottom: 1px solid #f1f1f1;
}

// Responsive design: field padding for forms.
//

.app-field-padding {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

// Responsive design: collapse tables vertically for small screen sizes.
//

@media all and (max-width: 599px)  {

  table, thead, tbody, th, td, tr {
		display: block;
	}

  thead, th {
		display: none;
	}
}

.mat-tooltip.infobox {
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #515558FF;

  &.exaggerated-tooltip { // to modify the tooltip create a class like this
    font-size: 0.75rem; // and use it like this: *matTooltipClass="exaggerated-tooltip"* in the
    color: #ffffff; // component in which you are putting the tooltip
    background-color: #515558FF;
  }
}
