<div> <!-- fxHide fxShow.gt-xs> <!-- ** Application specific content: fxHide fxShow.gt-xs ** -->
  <footer>
    <div id="elixir-banner" data-color="grey" data-name="This service" data-description="" data-more-information-link="https://www.elixir-europe.org/about-us/who-we-are/nodes/embl-ebi" data-use-basic-styles="true"></div>
    <div id="global-footer" class="global-footer">
      <nav id="global-nav-expanded" class="global-nav-expanded row">
        <!-- Footer will be automatically inserted by footer.js -->
      </nav>
      <section id="ebi-footer-meta" class="ebi-footer-meta row">
        <!-- Footer meta will be automatically inserted by footer.js -->
      </section>
    </div>
  </footer>

  <!-- GDPR banner configuration -->
  <div id="data-protection-message-configuration"
    data-message="This website requires cookies, and the limited processing of your personal data in order to function. By using the site you are agreeing to this as outlined in our &lt;a target='_blank' href='https://www.ebi.ac.uk/data-protection/privacy-notice/ena-submission' class='white-color'&gt;Privacy Notice&lt;/a&gt; and &lt;a target='_blank' href='https://www.ebi.ac.uk/about/terms-of-use' class='white-color'&gt;Terms of Use&lt;/a&gt;."
    data-service-id="ena-submission" data-data-protection-version="0.1"></div>

</div>
