<form (ngSubmit)="resetPassword(rpf)" #rpf="ngForm" [appMatchPassword]="['webinPassword', 'confirmPassword']">
    <div fxLayout="row" fxLayoutAlign="center center" class="login-card-container">
      <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Reset Password</mat-card-title>
          <mat-card-subtitle>Please provide new password</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                <mat-form-field>
                    <input matInput  name="emailAddress" [(ngModel)]="emailAddress" #emailVal="ngModel" placeholder="Email Address" required email/>
                    <mat-error *ngIf="rpf.controls['emailAddress']?.errors?.required || rpf.controls['emailAddress']?.invalid">
                        Please enter a valid email address
                    </mat-error>
            
                 </mat-form-field>
            </p>
          <p>
            <mat-form-field>
                <input type="password" matInput placeholder="Password" required [(ngModel)]="webinPassword" name="webinPassword">
              </mat-form-field>
          </p>
          <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Confirm Password" required [(ngModel)]="confirmPassword" name="confirmPassword">
            <mat-error *ngIf="rpf.controls['confirmPassword']?.errors?.passwordMismatch">
                Password and Confirm password dose not match
            </mat-error>
          </mat-form-field>
          </p>
          <div style="text-align: center;">
            
          <button mat-raised-button color="accent" type="submit" name="action" [disabled]="rpf.invalid">Update</button>
          <button mat-raised-button   type="button" style="margin-left: 5px;" [routerLink]="['']">Cancel</button>
          <p>
            
          </p>
        </div>
          <p class="app-error" *ngIf="error">
            <i class="material-icons">error</i>
            Invalid Webin submission account or password
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    </form>
    