
<mat-radio-group class="app-radio-group" [(ngModel)]="submissionType">

  <mat-expansion-panel (click)="submissionType = 'Reads'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-radio-button class="app-radio-button" value="Reads">
          Reads
        </mat-radio-button>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>
      Raw sequencing reads are submitted as runs. Each run
      is associated with read data files, experimental information,
      a study and a sample.
      </p>
      <p>
        <span class = "app-primary-color">
        <i class="material-icons">info</i>
        </span>
        Read data must be uploaded before runs can be submitted.
      </p>
      <p>
        <span class = "app-primary-color">
        <i class="material-icons">info</i>
        </span>
      Studies and samples must be submitted before runs are submitted.
      </p>
    </mat-expansion-panel>

  <mat-expansion-panel (click)="submissionType = 'Genomes'">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-radio-button class="app-radio-button" value="Genomes">
          Genomes
        </mat-radio-button>
      </mat-panel-title>
    </mat-expansion-panel-header>
      <p>
      Genome assemblies can contain contigs, scaffolds, chromosomes,
      unlocalised sequences and optional functional annotation. Typically,
      each assembly is associated with a unique BioProject and BioSample combination. Assembly
      updates are detected automatically from this unique pairing.
      </p>
      <p>
        <span class = "app-primary-color">
        <i class="material-icons">info</i>
        </span>
      BioProjects and BioSamples must be submitted before genome assemblies are submitted.
      </p>
     </mat-expansion-panel>

    <mat-expansion-panel (click)="submissionType = 'Transcriptomes'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-radio-button class="app-radio-button" value="Transcriptomes">
            Transcriptomes
          </mat-radio-button>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
      Transcriptome assemblies contain transcripts and optional functional annotation.
      Transcriptome assemblies are submitted as a fasta file and a transcriptome
      assembly info file. If the transcripts are associated with functional
      sequence annotation then the sequences are submitted using a flat file.
    </p>
      <p>
      Each transcriptome assembly is associated with a BioProject and a BioSample.
      </p>
      <p>
        <span class = "app-primary-color">
        <i class="material-icons">info</i>
        </span>
      BioProjects and BioSamples must be submitted before transcriptome assemblies are submitted.
      </p>
      <p>
        <span class = "app-primary-color">
        <i class="material-icons">info</i>
        </span>
        Transcriptome assemblies must be submitted with an info file. The info file is a text file with the following
        fields:
      </p>
      <pre>
        Assembly Name: PLEASE FILL
        Assembly Method: PLEASE FILL
        Sequencing Technology: PLEASE FILL
      </pre>
      <p>
        <button mat-raised-button color="accent" (click)="downloadTranscriptomeInfo()">
          Download {{transcriptomeInfoFileName}}
        </button>
      </p>



    </mat-expansion-panel>


</mat-radio-group>
