<div class="mat-h3 mat-tittle">Update Releasedate</div>
<form (ngSubmit)="doAction(rdf)" #rdf="ngForm" >
<div class="row">
<input type=hidden [(ngModel)]="id" name="id">
<mat-form-field appearance="fill" style="width:100%">
    <mat-label>Release date [ This is when your study will be made public. ] </mat-label>
    <input matInput [matDatepicker]="picker"  [readonly]="true" required [(ngModel)]="releaseDate" [min]="today" [max]="maxDate" name="releaseDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>    
</div>
<div class="buttonDiv">
    <div style="text-align:center">
        <button mat-raised-button color=primary [disabled]="rdf.invalid">Update</button>
        <button type="button" mat-raised-button style="margin-left: 5px;" (click)="cancelPopup()" >Cancel</button>
    </div>
</div>
</form>