.body{
    padding:10px 20px 10px 10px;
}

.container{
    padding: 10px 0px 0px 0px;
}
.cat-element span{
    display: inline-block;
    text-align: center;
    width: 140px;
    vertical-align: top;
    cursor: pointer;
}
.cat-element span p{
    margin-top: -10px;
}
.cat-element span mat-icon{
    font-size: 50px;
    padding-right: 25px;
}

span:hover {
    background-color: rgba(180, 180, 180, 0.164);
  }

  mat-card{
      margin:10px;
  }

 