
<div>
  <mat-tab-group #tabGroup class="app-daskboard-tab">

    <mat-tab label="Submit XML">
      <app-xml-submission></app-xml-submission>
    </mat-tab>
    <mat-tab label="Studies">
      <app-report #studies [reportType]="ReportType.studies" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Samples">
      <app-report #samples [reportType]="ReportType.samples" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Runs">
      <app-report #runs [reportType]="ReportType.runs" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Analyses">
      <app-report #analyses [reportType]="ReportType.analyses" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Run files">
      <app-report #runFiles [reportType]="ReportType.runFiles" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Analysis files">
      <app-report #analysisFiles [reportType]="ReportType.analysisFiles" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Run process">
      <app-report #runProcess [reportType]="ReportType.runProcess" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>
    <mat-tab label="Analysis process">
      <app-report #analysisProcess [reportType]="ReportType.analysisProcess" (onReportChange)="consumeReportChange($event)"></app-report>
    </mat-tab>

    <div *ngIf="isEga()">

      <mat-tab label="Dacs">
        <app-report #dacs [reportType]="ReportType.dacs" (onReportChange)="consumeReportChange($event)"></app-report>
      </mat-tab>
      <mat-tab label="Policies">
        <app-report #policies [reportType]="ReportType.policies" (onReportChange)="consumeReportChange($event)"></app-report>
      </mat-tab>
      <mat-tab label="Datasets">
        <app-report #datasets [reportType]="ReportType.datasets" (onReportChange)="consumeReportChange($event)"></app-report>
      </mat-tab>

    </div>

  </mat-tab-group>
</div>
