<div class="body">
  <div class="mat-h3 mat-tittle">Dashboard</div>

  <mat-divider></mat-divider>
  
  
  
    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center end">
    <ng-container *ngIf="!isEga()" >  
      <mat-card>
          <mat-card-subtitle>
          Account Management
          </mat-card-subtitle>
        <div class="cat-element">
        <span [routerLink]="['/accountInfo']">
          <mat-icon class="account_box">account_box</mat-icon>
          <p class="mat-small mat-caption">Account Information</p>
        </span> 
        </div>
      </mat-card>
    </ng-container>
  

    <ng-container>
      <mat-card>
        
          <mat-card-subtitle> Submissions </mat-card-subtitle>
        <div class="cat-element">
          <span [routerLink]="['/app-submit']">
            <mat-icon class="note_add">note_add</mat-icon>
            <p class="mat-small mat-caption">Xml Submission</p>
          </span> 
          <span [routerLink]="['/study']" >
            <mat-icon class=note_add>note_add</mat-icon>
            <p class="mat-small mat-caption">Register study (project)</p>
           </span>
        </div>
      </mat-card>
    </ng-container>

    <ng-container *ngIf="!isEga()">
    
      <mat-card>
          <mat-card-subtitle>Spreadsheet Templates</mat-card-subtitle>
        <div class="cat-element">
          <span [routerLink]="['/app-checklist','sample',true]">
            <mat-icon class="system_update_alt">system_update_alt</mat-icon>
            <p class="mat-small mat-caption">Register samples</p>
          </span> 
          <span [routerLink]="['/app-checklist','sequence',true]">
            <mat-icon class="system_update_alt">system_update_alt</mat-icon>
            <p class="mat-small mat-caption">Annotated Sequences</p>
          </span> 
        </div>
      </mat-card>
    
    </ng-container>
  </div>
    <!-------------------------Reports------------------------->
  <div>
    <div class="category">
      <mat-card>
        <mat-card-subtitle>Reports</mat-card-subtitle>
      <div class="cat-element">
       <span [routerLink]="['/report',ReportType.studies]" >
        <mat-icon class=insert_chart>insert_chart</mat-icon>
        <p class="mat-small mat-caption">Studies Report</p>
       </span>
       
       <span [routerLink]="['/report',ReportType.samples]" >
        <mat-icon class=insert_chart>insert_chart</mat-icon>
        <p class="mat-small mat-caption">Samples Report</p>
       </span>

       <span [routerLink]="['/report',ReportType.analyses]" >
        <mat-icon class=insert_chart>insert_chart</mat-icon>
        <p class="mat-small mat-caption">Analysis Report</p>
       </span>

       <ng-container *ngIf="!isEga()">
          <span [routerLink]="['/report',ReportType.analysisFiles]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Analysis File Report</p>
          </span>

          <span [routerLink]="['/report',ReportType.analysisProcess]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Analysis Process Report</p>
          </span>

          <span [routerLink]="['/report',ReportType.runs]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Runs Report</p>
           </span>
           
          <span [routerLink]="['/report',ReportType.runFiles]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Run File Report</p>
          </span>

          <span [routerLink]="['/report',ReportType.runProcess]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Run Process Report</p>
          </span>

          <span [routerLink]="['/report',ReportType.unsubmittedFiles]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Unsubmitted Files Report</p>
          </span>
        </ng-container>
        <ng-container *ngIf="isEga()">
          <span [routerLink]="['/report',ReportType.dacs]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Dacs</p>
          </span>
          <span [routerLink]="['/report',ReportType.policies]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Policies</p>
          </span>
          <span [routerLink]="['/report',ReportType.datasets]" >
            <mat-icon class=insert_chart>insert_chart</mat-icon>
            <p class="mat-small mat-caption">Datasets</p>
          </span>
          

        </ng-container>
      </div>
      </mat-card>
    </div>
  </div>
  
  

  

